<!DOCTYPE html>
<div class="container">
  <div class="row">
    @for (item of productLists();track $index){

    <div class="col-3 pt-2">
      <div class="card product-card">
        <img
          [src]="item.productImageUrl"
          class="card-img-top product-image"
          alt="Product Image"
        />
        <span class="category-badge">Category</span>
        <div class="card-body">
          <h5 class="card-title">{{ item.productName }}</h5>
          <p class="product-price">${{ item.productPrice }}</p>
          <button class="btn add-to-cart-btn">Add to Cart</button>
        </div>
      </div>
    </div>

    }
  </div>
</div>
